<!DOCTYPE html>
<html ng-controller="TodoController as vm">
<head>
    <meta charset="utf-8">
    <title>{{::vm.todo.user}}'s TO DO List</title>
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>
            <img class="photo" ng-src="{{::vm.todo.userPhoto}}">
            {{::vm.todo.user}}'s To Do List
            <span class="label label-default" ng-hide="vm.incompleteCount(vm.todo.items) === 0"
                  ng-class="vm.warningLevel(vm.todo.items)">
					{{vm.incompleteCount(vm.todo.items)}}
				</span>
        </h1>
    </div>
    <div class="panel">
        <form novalidate name="newTask">
            <div class="form-group">
                <label for="action">Action:</label>
                <div class="input-group">
                    <input id="action" name="action" class="form-control" ng-model="vm.newItem.action"/>
                    <span class="input-group-btn">
							<button class="btn btn-primary" ng-click="vm.addNewItem(vm.todo.items, vm.newItem)"
                                    ng-disabled="!vm.newItem.action">
								Add
							</button>
						</span>
                </div>
            </div>
        </form>

        {{newTask | json}}
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
        </div>
        <div class="panel-body">

            <vi-task-list></vi-task-list>
            <span>Show complete</span>
            <input type="checkbox" ng-model="vm.showAll">
        </div>
    </div>
</div>

<script src="vendor/angular/angular.min.js"></script>
<script src="app.module.js"></script>
<script src="services/model.service.js"></script>
<script src="services/todo.service.js"></script>
<script src="controllers/todo.controller.js"></script>
<script src="filters/checkedItems.filter.js"></script>
<script src="directives/task-list/task-list.directive.js"></script>
</body>
</html>
